@import 'variable.scss';

section{
	padding: 80px 0 100px;
}

.s_intro{
	h1{
		font: normal 36px/42px $font;
		text-transform: uppercase;
		padding-left: 15px;
		border-left: 10px solid #e1e6ea;
		margin-bottom: 60px;
	}
}

.header{
	background-color: #1d2126;
}
.wrap_intro{
	width: 100%;
	display: inline-flex;
	justify-content: space-between;
	align-items:center;
	padding: 30px 0;
}
.top_nav{
	li{
		display: inline-block;
		margin-right: 30px;
		box-sizing: border-box;
		border: 3px solid #1d2126;
		border-radius: 5px;
		transition: .3s ease-out;
		a{
			display: block;
			padding: 5px 10px;
			color: $main_color;
			font-size: 14px;
		}
		&:hover{
			border-color: #8d8f92;
		}
	}
	.active{
		border-radius: 5px;
		border: 3px solid #23b7a4;
	}
	li:last-child{
		margin-right: 0;
	}
}

.banner{
	background: url('../img/bg-header.png') no-repeat;
	background-size: cover;
}
.banner_intro{
	padding: 150px 0 150px;
	display: inline-block;
	h1{
		font: normal 36px/42px $font;
		color: #fff;
		text-transform: uppercase;
		margin-bottom: 30px;
	}
	p{
		font: 400 16px/26px $OpenSans;
		color: #ccd0d7;
	}
	.ba_links{
		margin-top: 45px;
		a{
			display: inline-block;
			font: normal 14px/16px $font;
			padding: 15px 20px;
			border-radius: 5px;
			border: 3px solid #fff;
			color: #fff;
			text-transform: uppercase;
			transition: .3s ease-out;
			margin-right: 10px;
			&:hover{
				background-color: #23b7a4;
				border-color: #23b7a4;
			}
		}
		a:last-child{
			margin-right: 0;
		}
	}
}

.about{
	border-bottom: 2px solid #dde1e4;
	h1{
		color: $head_txt_dcolor;
	}
}
.about_intro{
	display: inline-flex;
	justify-content:space-between;
}
.about_left{
	width: 57%;
	p{
		font: 400 16px/26px $OpenSans;
		color: #8d8f92;
		margin-bottom: 40px;
		span{
			font-weight: 700;
		}
	}
	p:last-child{
		margin-bottom: 0;
	}
}
.about_social{
	margin-top: 50px;
	li{
		display: inline-block;
		width: 60px;
		height: 60px;
		background-color: #c8cdd0;
		transition: .3s ease-out;
		&:hover{
			background-color: #d0d5d9;
		}
		a{
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 2em;
			color: #fff;
			height: 100%;
			width: 100%;
		}
	}
}
.about_right{
	width: 40%;
}
.about_descr_item{
	display: inline-flex;
	justify-content:space-between;
	margin-bottom: 35px;
	.item_num{
		padding: 15px;
		height: 50px;
		color: #fff;
		font: 700 20px/20px $OpenSans;
		background-color: #23b7a4;
	}
	.item_descr{
		margin-left: 20px;
		h3{
			font: normal 18px/20px $font;
			color: #292f36;
			text-transform: uppercase;
			margin-bottom: 10px;
		}
		p{
			font: 400 16px/26px $OpenSans;
			color: #8d8f92;
		}
	}
}
.about_descr_item:last-child{
	margin-bottom: 0;
}


.team{h1{color: $head_txt_dcolor}}
.team_intro{
	display: inline-flex;
	justify-content: space-between;
	width: 100%;
}
.team_card{
	width: 23%;
	transition: .3s ease-out;
	.card_photo{
		height: 80%;
		position: relative;
		img{
			width: 100%;
		}
		.wrap_hover{
			display: none;
			transition: .3s ease-out;
				.link_hover{
				height: 100%;
				width: 100%;
				top: 0;
				position: absolute;
				background-color: rgba(255,255,255,.5);
				display: flex;
				justify-content: center;
				align-items:center;
				transition: .3s ease-out;
				li{
					width: 50px;
					height: 50px;
					background-color: #3a454d;
					display: inline-block;
					transition: .3s ease-out;
					a{
						display: inline-flex;
						justify-content: center;
						align-items:center;
						width: 100%;
						height: 100%;
						color: #fff;
						font-size: 2em;
						transition: .3s ease-out;
					}
				}
			}
		}
	}
	.card_descr{
		background-color: #e1e6ea;
		margin-top: -4px;
		padding: 20px;
		transition: .3s ease-out;
		h3{
			font: normal 16px/35px $font;
			color: #292f36;
			text-transform: uppercase;
			transition: .3s ease-out;
		}
		h4{
			font: 400 14px/26px $OpenSans;
			color: #8d8f92;
			transition: .3s ease-out;
		}
	}
	&:hover{
		.wrap_hover{
			display: block;
		}
		.card_descr{
			background-color: #3a454d;
			h3{
				color: #fff;
			}
			h4{
				color: #fff;
			}
		}
	}
}

.work{h1{color: $head_txt_lcolor}}
.work_items{
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-between;
	.work_item{
		width: 32%;
		margin-bottom: 30px;
		position: relative;
		img{
			width: 100%;
		}
		&:hover .wrap_hover{
			display: block;
		}
	}
}
.wrap_hover{
	display: none;
	cursor: pointer;
	.work_hover{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		.span{
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: rgba(0,0,0,.3);
			height: 80%;
			width: 100%;
			position: relative;
			span:nth-child(1){
				height: 4px;
				width: 20px;
				background-color: #fff;
				display: inline-block;
				position: absolute;
			}
			span:nth-child(2){
				height: 4px;
				width: 20px;
				background-color: #fff;
				display: inline-block;
				transform: rotate(90deg);
				position: absolute;
			}
		}
		.work_descr{
			display: flex;
			align-items: center;
			padding-left: 20px;
			background-color: #292f36;
			color: #fff;
			text-transform: uppercase;
			height: 20%;
			font: normal 18px/26px $font;
		}
	}
}
.work_btn{
	text-align: center;
	margin-top: 40px;
	a{
		font: normal 14px/26px $font;
		color: #fff;
		padding: 15px 20px;
		border: 2px solid #fff;
		border-radius: 5px;
	}
}

.services{h1{color: $head_txt_dcolor}}
.serv_items{
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-between;
	.serv_item{
		width: 23%;
		text-align: center;
		margin-bottom: 85px;
		img{
			margin-bottom: 30px;
		}
		h2{
			margin-bottom: 30px;
			text-transform: uppercase;
			font: normal 17px/26px $font;
			color: #292f36;
		}
		p{
			font: 400 16px/26px $OpenSans;
			color: #8d8f92;
		}
	}
}
.serv_item-5,.serv_item-6,.serv_item-7,.serv_item-8{margin-bottom: 0 !important;}

.features{h1{color: $head_txt_lcolor}}
.features_items{
	width: 100%;
	display: inline-flex;
	justify-content: space-between;
	.features_item{
		width: 32%;
		img{
			width: 100%;
			margin-bottom: 55px;
		}
		h2{
			text-transform: uppercase;
			color: #fff;
			font: normal 18px/26px $font;
			margin-bottom: 30px;
		}
		p{
			color: #dcdfe1;
			font: 400 16px/26px $OpenSans;
		}
	}
}

.contact{h1{color: $head_txt_dcolor}}
.bg_contact{
	background: url('../img/bg-contact.png') no-repeat;
	height: 350px;
	background-size: cover;
}
.wrap_contact{
	display: flex;
	justify-content: space-between;
	padding-top: 60px;
	.contact_intro{
		width:50%;
		h2{
			text-transform: uppercase;
			color: #292f36;
			font: normal 20px/26px $font;
			margin-bottom: 40px;
			padding-left: 10px;
		}
		p{
			font: 400 16px/26px $OpenSans;
			color: #8d8f92;
			margin-bottom: 35px;
		}
		p:last-child{
			margin-bottom: 0;
		}
	}
	.contact_form{
		padding: 30px;
		width: 50%;
		background-color: #fff;
		margin-top: -190px;
		input{
			width: 100%;
			margin-bottom: 30px;
			background-color: #eaeef1;
			border: none;
			padding: 10px;
		}
		textarea{
			width: 100%;
			margin-bottom: 30px;
			background-color: #eaeef1;
			border: none;
			padding: 10px;
		}
		label{
			font: normal 14px/26px $font;
			color: #8d8f92;
			padding-left: 10px;
			text-transform: uppercase;
		}
		input[type="submit"]{
			background-color: #23b7a4;
			border-radius: 5px;
			width: 30%;
			color: #fff;
			font: normal 14px/26px $font;
		}
	}
}


.footer{
	padding: 30px 0;
}
.wrap_footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	.copyright{
		h5{
			font: 400 14px/20px $OpenSans;
			color: #fff;
		}
	}
	.ft_soc{
		li{
			display: inline-block;
			margin-right: 15px;
			a{
				font-size: 1em;
				color: #fff;
			}
			a:last-child{
				margin-right: 0;
			}
		}
	}
}