.container{
	max-width: 1140px;
	margin: 0 auto;
}

$font: 'Quattrocento', 'Arial', sans-serif;
$OpenSans: 'Open Sans', 'Arial', sans-serif;

$main_color: #a4aead;
$head_txt_dcolor: #292f36;
$head_txt_lcolor: #fff;

.bg_lag{background-color: #3a454d;}